<app-header></app-header>
<div class="row" style="background: #F6F9FC">
    <div  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 heading-supplychain">
<a routerLink="/payments" class="headeritem"><i class="icon ion-md-radio-button-on"></i><p class="supply">PAYMENTS</p></a></div></div>
<div class="row" style="background: #F6F9FC">
    <div  class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 firstparagraph">
        <h1 class ="firstparaheading">Payment settlements and recurring collections for fast growing businesses</h1>
        <p class="firstparacontent">
            Whether you’re looking to bill customers on a recurring basis, set up a marketplace, or simply accept payments, do it all with a fully integrated, global platform that can support online and in-person payments.
        </p><a href="#" class="common-Button" style="margin-right:20px;color:white;background:rgb(146, 81, 172);
        ">
            Create account
          </a><a href="contact" class="common-Button">
            Request Demo
          </a>
    </div>
     <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 col cantselect middle">
        <img  draggable="false" onmousedown="return false"  class="firstimg" src="../../../../assets/paymentfirst.png">
    </div>
    </div>
    <div class="row"  style="background: white">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 cantselect col middle">
                <img draggable="false" onmousedown="return false" class="secondimg" src="../../../../assets/paymentsecond.gif">
        </div>
        <div  class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 secondparagraph">
                <div class="container2"><img  class="secondbuildingimg cantselect"   draggable="false" onmousedown="return false"  src="../../../assets/block final gif.gif"><h1 class ="secondparaheading">A better answer to Payments settlements </h1> </div>
        <p class="secondparacontent">
                Companies of all sizes face the question of whether to go with physical cash collection or some online payment solution. Zooliy Payments gives you a better option. Once you’re set up, you can collect, settle and manage payments and reccuring invoices—and view detailed financial reports—directly from the Dashboard. 
        </div>
      </div>
     <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 projectcol">
        <div class="supply-item">

                <img class="logono1 cantselect"   draggable="false" onmousedown="return false"   src="../../../assets/trial.png">
          <h3 class="itemheading">First Try then Buy</h3>
          <div class="itemcontent">One month of free trail and testing, with easy five day setup and running of hassle free payment settlements.
        </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 projectcol">
            <div class="supply-item2">
              <img class="logono2 cantselect"   draggable="false" onmousedown="return false"   src="../../../assets/cost.png">
          <h3 class="itemheading">Costs you can’t refuse</h3>
          <div class="itemcontent">
            Pay as you go, with increasing bussiness size and operations. With low transaction cost and faster settlements.
        </div>

      </div>
        </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 projectcol">
                <div class="supply-item3">
                    <img class="logono2 cantselect"   draggable="false" onmousedown="return false"   src="../../../assets/payment.png">
                    <h3 class="itemheading">Collect payments in one go</h3>
                    <div class="itemcontent">
                        Collect payments online and save money on bank fees on lodging cash. Allows for greater uptake of transactions during peak hours, without the need for any additional staff.
                    </div>
      </div>
</div>
     </div>
<!-- <div class="row roadmap">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 roadmapcol accept">
            <div style="float:left"  class="rectangle">Accept</div><div style="float:left"class="triangle-right"></div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 roadmapcol process">
                <div style="float:left" class="secondrectangle">Accept</div><div style="float:left"class="secondtriangle-right"></div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 roadmapcol setup">
                <div style="float:left" class="thirdrectangle">Accept</div><div style="float:left"class="thirdtriangle-right"></div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 roadmapcol manage">
                 <div style="float:left" class="fourthrectangle">Accept</div>
        </div>
</div> --> 
<div class="row " style="background: #F6F9FC">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 projectcol">
            <div class="lastitem">
                <a routerLink="/supply-chain">
                    <i class="iconatitem material-icons" style="float:left;font-size:130px;margin-left:-40px;color:#77c2ec;">
                            offline_bolt
                            </i>          <h3 class="projectitem">SUPPLY CHAIN <i class="material-icons" style="font-size: 15px;font-weight: 700;">arrow_forward</i></h3>
              <div  class="projectcontent">Use most advance tools based on blockchian to manage you supply
                chain for provenance and payment settlements across the different
                level.</div>
            </a>  </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 projectcol">
            <div class="lastitem2"><a routerLink="/analytic">
              <i class="iconatitem1 ion-ios-analytics" style="float:left;font-size:130px;margin-right:50px;color:#fc3;margin-left:-30px;margin-top:-5px;"></i>
        <h3    class="projectitem1">ANALYTIC <i class="material-icons" style="font-size: 15px;font-weight: 700;">arrow_forward</i></h3>
        <div class="projectcontent">Understanding analytics is at the heart of successful optimization, because you need to measure what’s happening so that you know what to change or update.</div>
      </a>
    </div>
           </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 projectheading">
                    <div class="projecth1" >Ready to get started? </div>
                    <div class="projecth5">Get in touch or create an account. </div>
                  </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 projectheading2">
                        <a routerLink="/coming-soon"class="common-Button" style="margin-right:50px;margin-top:0px;color:white;background:rgb(146, 81, 172);">
                            Create account
                          </a><a routerLink="/contact" class="common-Button" style="margin-top:0px;">
                            Contact Sales
                          </a>
                      </div>
    </div> 
<app-footer></app-footer>
<app-copyright></app-copyright>